body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f5;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.swiper {
  margin-bottom: 30px;
}

.event-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.event-info img {
  margin-top: 20px;
  max-width: 100%;
  border-radius: 10px;
}



.vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
  position: absolute;
  width: 100%;
  left: 124%;
  top: 6px;
  font-size: 16px;
  font-size: 1rem;
  text-align: left;
}

@media (max-width: 768px) {
  /* Per a pantalles petites, podem alinear les dates per sobre de l'esdeveniment */
  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    position: unset;
  }
}